root{
    --border-rounded: 13px; 
    --border-squared: 0; 
    --Gray10: #f4f4f4;
    --cardBackground: white; 
    --dashboard-background: #f4f4f4; 
}

.container{
    background-color: var(--dashboard-background);
    background: #f4f4f4; 
}
.card{
    background: var(--cardBackground) 0% 0% no-repeat padding-box;
    background-color: white;
    border-radius: var(--border-squared);
    width: 90%; 
    height: 100%;
    padding: 25px;
    margin: auto;
}

h3.card-title.dashboard{
    text-align: left;
    font: normal normal bold 16px/20px IBM Plex Sans;
    letter-spacing: 0.18px;
    color: var(--black);
    text-transform: uppercase;
    opacity: 1;
    margin: 0;
}

.listItem{
    border-bottom: 1px solid var(--gray4); 
    text-align: left;
    font: normal normal 600 16px/20px IBM Plex Sans;
    letter-spacing: 0px;
    color: #5D5D5D;
    opacity: 1;
    padding: 2% 0; 
}

p{
    text-align: left;
    font: normal normal 600 16px/20px IBM Plex Sans;
}